/* container css start here  */
.stopwatch-container {
  width: 550px;
  height: 650px;
  margin: 0 auto;
  background: #02adc3;
  padding: 1.8rem;
  border-radius: 20px;
  position: relative;
}

.stopwatch-container h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

/* container css end here  */

/* Show timer css start Here  */

.timer-show-box {
  position: absolute;
  top: 7.5rem;
  left: -76px;
  background: #ffffff;
  width: 700px;
  border-radius: 20px;
}

.timer-box {
  display: flex;
  padding: 6rem 3rem;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.times-number {
  text-align: center;
}

.times-number h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #292b3a;
}

.times-number h1 span {
  font-size: 5rem;
  font-weight: 800;
  color: #292b3a4f;
}
/* Show timer css end Here  */

/* pause and play button css start here  */

.play-pause-btn button {
  position: absolute;
  bottom: -62px;
  left: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: #027dc3;
  border-radius: 100px;
  text-align: center;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 50px;
  border: none;
}

.reset-timer {
  text-align: center;
  margin-top: 430px;
}
.reset-timer button {
  border: none;
  padding: 1.3rem 4rem;
  background: #ffffff;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 700;
}

/* pause and play button css end here  */
